h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	color: #0D2C40;
	letter-spacing: 1px;
	font-size: 45px;
	text-align: center;
}

a {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	color: #F15B31;
	letter-spacing: 1px;
	font-size: 18px;
	text-align: center;
	text-decoration: none;

}

h2 {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	color: #0D2C40;
	letter-spacing: 1px;
	font-size: 20px;
	text-align: center;
}

p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 20px;
	text-align: center;
}

body {
	text-align: center;
}
footer {
	padding: 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.Social {
	display:inline-block;
	padding: 20px;

}
.copyright {
	float: left;
	font-family: "Raleway", sans-serif;
}
.message {
	float: right;
	font-family: "Raleway", sans-serif;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: O;
}
.name {
	color: #F15B31
	font-weight: 700;
}
nav {
	border-bottom: 2px solid transparent;
}
a:hover {
	border-color: white;
}